Add support for l= tag

RFC 6376 section 5.3.1 defines the "l=" tag of the DKIM-Signature header 
field.
Mail::DKIM supports this for verification but not for signing.

Hope this get fixed soon. This breaks our DKIM-checks in spamassassin. Do you need some help?

Hi @frerichs 

The l= tag is supported for verification, so this shouldn't be an issue for SpamAssassin. Do you have an example?

I tested my problem with the buildin dkimverify.pl and the signed email looks ok. Sorry, I was confused about the (still) open issue on this problem. It looks like a local spamd problem ;)